header {
	background:#2c3e50;
	color: #fff;
}
font
.main {
	background:#f2f2f2;
}

.color1 {
	color: green;
}
.color2 {
	color: red;
}

style{
	font-style: Arial;


}


aside {
	background: #c0392b;
	color: #fff;
}

footer {
	background: #16a085;
	color: #fff;
}